.App {
  text-align: center;
  background-color: #ebebeb;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Liberation";
  color: black;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan'), url(./fonts/leaguespartan-bold.ttf);
}

@font-face {
  font-family: 'Liberation';
  src: local('Liberation'), url(./fonts/LiberationSans.ttf);
}

.Title {
  font-family: 'LeagueSpartan';
  font-size: 150px;
  margin-bottom: 0px;
  margin-top: 0px
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Liberation";
  color: black;
}

.TextEntry {
  font-size: 18px;
  text-align: left;
  padding-right: 0px;
  line-height: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.TextField {
  font-size: 25px;
  font-style: italic;
  color: gray;
  width: 500px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ErrorText {
  font-size: 20px;
  color: red;
  margin-top: 0px;
  padding-right: 30px;
}

.button {
  background-color: rgb(101, 153, 221);
  border: none;
  color: black;
  padding: 15px 205px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.RedirectText {
  padding-right: 0px;
  margin-top: 0px;
}

.App-link {
  color: #61dafb;
}

h2 {
  margin-top: 30px;
  margin-bottom: 18px;
}