.Loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
}
.Loading_img {
    width: 20vh;
    height: 20vh;
}
.App {
    text-align: center;
    background-color: white;

    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/background-light.webp');
    background-size: 50vmin;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
}



/* HEADER */
.App_header {
    background-image: url('../images/background-dark.png');
    background-size: 80vmin;
    width: 100vw;

    background-color: #282c34;
    color: white;
  
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.BackButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(3.2vmin);
    margin-top: 4vmin;
    border-radius: 5px;
    justify-content:left;
    white-space: nowrap;  
}
.BackButton:hover {
    text-decoration: underline;
}
.BackButton:active {
    text-decoration: none;
}
.Title {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0%;
    padding-bottom: 0%;
    line-height: 1;
    padding-bottom: 2vmin;

    font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: bold;
        font-size: calc(7vw);
}



/* BODY */
.App_body {
    background-color: white;
    border: 0.3vmin solid #000000;
    border-radius: 2vmin;
    width: 60vmin;

    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
    padding-bottom: 1.5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;

    font-family: "Roboto", sans-serif;
        font-size: calc(3.1vmin);
        font-weight: 400;
        font-style: normal;
}
.ItemTitle {
    font-size: 2vmin;
    text-align: left;
    padding-right: 0px;
    line-height: 0px;
    margin-top: 0vmin;
    margin-bottom: 2vmin;
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.TextField {
    font-size: calc(2.75vmin);
    color: black;
    width: 55vmin;
    height: 5.8vmin;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1vmin;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f1f1f1;
    border-color: black;
    box-sizing: border-box;
}
.TextField:placeholder-shown {
    font-style: italic;
}
.ContributionAmtDiv {
    width: 55vmin;
}
.ContributionHorDiv {
    width: 27vmin;

    font-size: 2.3vmin;
    font-style: italic;

    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
}
.TextFieldDollars {
    font-size: calc(2.75vmin);
    color: black;
    width: 25vmin;
    height: 5.8vmin;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1vmin;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f1f1f1;
    border-color: black;
    box-sizing: border-box;
}
.DollarSignSpacing {
    margin-right: 0.5vmin;
}
.TextFieldDollars:placeholder-shown {
    font-style: italic;
}
.SmallInputTotalDiv {
    font-size: 2vmin;
    text-align: left;
    padding-right: 0px;
    line-height: 0px;
    margin-top: 0vmin;
    margin-bottom: 2vmin;
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    width: 55vmin;
}
.SmallInputsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 48vmin;
}
.SmallInputsTextDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.RightMargin {
    margin-right: 15.6vh;
}
.TextFieldDate {
    font-size: calc(2.75vmin);
    color: black;
    width: 7.5vmin;
    height: 5.8vmin;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1vmin;
    margin-right: 1vmin;
    padding-left: 0vmin;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f1f1f1;
    border-color: black;
    box-sizing: border-box;
    text-align: center;
}
.TextFieldDate:placeholder-shown {
    font-style: italic;
}
.TextFieldCVC {
    font-size: calc(2.75vmin);
    color: black;
    width: 10vmin;
    height: 5.8vmin;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15vmin;
    margin-right: 1vmin;
    padding-left: 0vmin;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f1f1f1;
    border-color: black;
    box-sizing: border-box;
    text-align: center;
}
.TextFieldCVC:placeholder-shown {
    font-style: italic;
}



/* BOTTOM SECTION */
.BarSep {
    width: 95%;
    margin-top: 0.9vmin;
}
.BankSeparator {
    visibility: hidden;
}
.ErrorText {
    font-size: 2.2vmin;
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ButtonDiv {
    padding-top: 1.5vmin;
    padding-bottom: 1vmin;
}
.button {
    background-color: rgb(101, 153, 221);
    border: none;
    color: black;
    padding: 1.6vmin 22vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(3.2vmin);
    margin-top: 0vmin;
    border-radius: 5px;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    opacity: 0.6;
}