.App {
    text-align: center;
    background-color: white;

    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/background-light.webp');
    background-size: 50vmin;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
}



/* HEADER */
.App_header {
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-image: url('../images/background-dark.png');
    background-size: 80vmin;
    width: 100vw;
}
.MainImageBG {
    height: 20vmin;
    width: 20vmin;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(0,0,0,0.4);
}
.MainImage{
    align-self: center;
    width: 85%;
    padding: 0.5vmin;
}
.HeaderImageContainer {
    height: 20vmin;
    width: 20vmin;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.HeaderImageBG {
    align-self: center;
    height: 18vmin;
    width: 18vmin;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.HeaderImageBG:hover {
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 2vmin;
    background-color: rgba(0,0,0.5,0.4);
}
.HeaderImage {
    align-self: center;
    width: 94.5%;
    padding: 0.5vmin;
}
.Bar {
    margin: 0vmin;
    padding: 0vmin;
}


/* BODY */
.App_body {
    background-color: white;
    border: 0.3vmin solid #000000;
    border-radius: 2vmin;
    width: 120vmin;

    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
    padding-bottom: 0vmin;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;

    font-family: "Roboto", sans-serif;
        font-size: calc(3.1vmin);
        font-weight: 400;
        font-style: normal;
}

.SearchDiv {
    width: 120vmin;
    height: 10vmin;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-bottom: 0.3vmin solid black;
    border-radius: 0vmin;
    
    background-color: rgb(238, 238, 238);
}
.TextField {
    font-size: calc(2.75vmin);
    color: black;
    width: 80vmin;
    height: 5.4vmin;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f1f1f1;
    border-color: black;
}
.TextField:placeholder-shown {
    font-style: italic;
}
.SearchButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: 0.8vmin;
    padding: 0.5vmin;

    height: 60%;
    width: 5%;

    border: 2px solid rgba(0,0,0,0);
    border-radius: 2vmin;
}
.SearchButton:hover {
    border: 2px solid rgba(0,0,0,1);
    border-radius: 2vmin;
    background-color: rgba(0,0,0,0.1);
}
.SearchImage {
    
    width: 100%;

    filter: brightness(0%);
}

.PageItem {
    width: 120vmin;
    height: 20vmin;
    border-bottom: 0.3vmin solid black;
    border-radius: 0vmin;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    background-image: url('../images/background-light.webp');
    background-size: 20vmin;
}
.PageItem:hover {
    filter: brightness(85%);
}
.PageItemImageDiv {
    margin-left: 2vmin;
    height: 90%;
    width: 20%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.PageItemImage {
    max-height: 100%;
    max-width: 100%;
}
.PageItemTextDiv {
    margin-left: 2vmin;
    height: 90%;
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.PageItemTitle {
    font-size: 3.8vmin;
    font-weight: bold;
}
.PageItemBlurb {
    font-size: 2.5vmin;
    text-align: left;
}

.ButtonDiv {
    width: 100%;

    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;

    background-color: rgb(238, 238, 238);
}
.button {
    background-color: rgb(101, 153, 221);
    border: none;
    color: black;
    padding: 1.6vmin 22vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(3.2vmin);
    margin-top: 0vmin;
    border-radius: 5px;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    opacity: 0.6;
}