.Page {
    font-family: "Roboto", sans-serif;
        font-size: calc(3.1vmin);
        font-weight: 400;
        font-style: normal;

    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/background-light.webp');
    background-size: 50vmin;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Title_Header {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #282c34;

    background-image: url('../images/background-dark.png');
    background-size: 80vmin;
    width: 100vw;
}
.Title {
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;

    color: white;
    text-align: center;
    font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: bold;
        font-size: calc(7vw);
}
.App_body {
    background-color: white;
    border: 0.3vmin solid #000000;
    border-radius: 2vmin;
    width: 60vmin;
  
    margin-top: 2vmin;
    padding-top: 1.5vmin;
    padding-bottom: 0px;
    margin-bottom: 0px;
  
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    
    font-family: "Roboto", sans-serif;
      font-size: calc(3.1vmin);
      font-weight: 400;
      font-style: normal;
}
.Account_Type_Div {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 5vh;

    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;

    margin-right: 2vmin;
}
.Radio {
    margin-top: 0%;
    width: 3vw;
    height: 3vh;

    margin-left: 3vmin;
}
.Type {
    margin-right: 3vmin;
    font-weight: bold;
}
.Inputs {
    margin-top: 0vmin;
}
.Field {
    font-size: 2vmin;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.FieldTitleText{
    margin-top: 1vmin;
    margin-bottom: 0.1vmin;
}
.Text_Field {
    font-size: calc(2.75vmin);
    margin-top: 0px;
    margin-bottom: 2vmin;
    padding-left: 12px;
    background-color: #f1f1f1;
    border-color: black;
    width: 54vmin;
    height: 5.4vmin;
}
.Text_Field:placeholder-shown {
    font-style: italic;
}
.Error_Text {
    margin-top: 0%;
    margin-bottom: 1vmin;
    font-size: 2.2vmin;
    color: red;
}
.Button {
    background-color: rgb(101, 153, 221);
    border: none;
    color: black;
    padding: 1.6vmin 22vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(3.2vmin);
    margin-top: 1vmin;
    border-radius: 5px;
}
.Button:hover {
    opacity: 0.8;
}
.Button:active {
    opacity: 0.6;
}
.Redirect_Text {
    margin-top: 1%;
    margin-right: 0%;
    margin-top: 2vmin;
    font-size: calc(2.4vmin);
    font-weight: 400;
}
.App_link {
    color: blue;
  }