.Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
        font-size: calc(3.1vmin);
        font-weight: 400;
        font-style: normal;
}
.Title_Header {
    margin-top: 0%;
    background-color: #282c34;
    width: 100%;
}
.Title {
    padding-top: 0%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0%;

    color: white;
    text-align: center;
    font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: bold;
        font-size: calc(7vw);
}
.Account_Type_Div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Radio {
    margin-top: 0%;
    width: 10vh;
    height: 10vh;
}
.Type {
    margin-top: 8%;
    margin-right: 14%;
    margin-left: 2%;
    font-weight: bold;
}
.Inputs {
    margin-top: -1vmin;
}
.Field {
    font-size: 2vmin;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.FieldTitleText{
    margin-top: 1vmin;
    margin-bottom: 0.1vmin;
}
.Text_Field {
    font-size: calc(2.75vmin);
    margin-top: 0px;
    margin-bottom: 2vmin;
    background-color: #f1f1f1;
    border-color: black;
    width: 54vmin;
    height: 5.4vmin;
}
.Text_Field:placeholder-shown {
    font-style: italic;
}
.Error_Text {
    margin-top: 0%;
    margin-bottom: 1vmin;
    font-size: 2.2vmin;
    color: red;
}
.Button {
    background-color: rgb(101, 153, 221);
    border: none;
    color: black;
    padding: 1.6vmin 22vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(3.2vmin);
    margin-top: 1vmin;
    border-radius: 5px;
}
.Button:hover {
    opacity: 0.8;
}
.Button:active {
    opacity: 0.6;
}
.Redirect_Text {
    margin-top: 1%;
    margin-right: 0%;
    margin-top: 2vmin;
    font-weight: 400;
}
.App_link {
    color: blue;
  }